p img{
    width: 5%;
}

.dropright .dropdown-menu {
    padding: 0 !important;
} 
.btn-outline-secondary:hover, .btn-outline-secondary:hover{
    background: transparent !important;
}

#shortList{
    margin-top:8em;
    border-radius:1em;
}

#searchResult{
    border: 1px solid #dee2e6 ;
    margin-top:8em;
    border-radius:1em;
}