/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";

*, .form-control{
    background:#212529;
    color: white;
}

#item{
    cursor: pointer;
}